In [3]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler, normalize, RobustScaler, PowerTransformer
from sklearn.model_selection import train_test_split
import pickle
import numpy as np

In [5]:
df = pd.read_excel("../Data/Student-Employability-Datasets.xlsx")

In [6]:
df.head()

,Name of Student,GENERAL APPEARANCE,MANNER OF SPEAKING,PHYSICAL CONDITION,MENTAL ALERTNESS,SELF-CONFIDENCE,ABILITY TO PRESENT IDEAS,COMMUNICATION SKILLS,Student Performance Rating,CLASS
0,Student 1,4,5,4,5,5,5,5,5,Employable
1,Student 2,4,4,4,4,4,4,3,5,Employable
2,Student 3,4,3,3,3,3,3,2,5,LessEmployable
3,Student 4,3,3,3,2,3,3,3,5,LessEmployable
4,Student 5,4,4,3,3,4,4,3,5,Employable

In [7]:
df.nunique()

Name of Student               2982
GENERAL APPEARANCE               4
MANNER OF SPEAKING               4
PHYSICAL CONDITION               4
MENTAL ALERTNESS                 4
SELF-CONFIDENCE                  4
ABILITY TO PRESENT IDEAS         4
COMMUNICATION SKILLS             4
Student Performance Rating       3
CLASS                            2
dtype: int64

In [8]:
df["CLASS"] = df["CLASS"].replace(to_replace=["Employable", "LessEmployable"], value=[1,0])

C:\Users\ML_USER\AppData\Local\Temp\ipykernel_8996\3826035328.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df["CLASS"] = df["CLASS"].replace(to_replace=["Employable", "LessEmployable"], value=[1,0])

In [9]:
df.iloc[:,1:9].skew()

GENERAL APPEARANCE           -0.452415
MANNER OF SPEAKING           -0.028022
PHYSICAL CONDITION           -0.111690
MENTAL ALERTNESS             -0.212908
SELF-CONFIDENCE               0.037227
ABILITY TO PRESENT IDEAS     -0.097850
COMMUNICATION SKILLS          0.218410
Student Performance Rating   -1.493381
dtype: float64

In [15]:
X = df.iloc[:,1:9]
y = df["CLASS"]
X["TOTAL_SCORE"] = X.sum(axis=1)
X["AVG_SCORE"] = X["TOTAL_SCORE"].div(8)
scaler = PowerTransformer(method='box-cox')
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=42, stratify=y)

Train = pd.concat([X_train,y_train], axis=1)
Test = pd.concat([X_train,y_train], axis=1)
Train.to_csv("../Data/Train.csv")
Test.to_csv("../Data/Test.csv")

X_train_scaled = scaler.fit_transform(X_train)

In [17]:
X_train.head()

,GENERAL APPEARANCE,MANNER OF SPEAKING,PHYSICAL CONDITION,MENTAL ALERTNESS,SELF-CONFIDENCE,ABILITY TO PRESENT IDEAS,COMMUNICATION SKILLS,Student Performance Rating,TOTAL_SCORE,AVG_SCORE
1655,4,4,4,4,4,4,4,5,33,4.125
884,5,5,5,5,5,4,5,5,39,4.875
2870,4,5,5,3,3,5,3,5,33,4.125
631,4,5,4,5,4,4,4,5,35,4.375
1186,3,3,3,3,3,3,3,5,26,3.250

In [ ]:
file = "../tools/power_transform.sav"
pickle.dump(scaler, open(file,'wb'))